@import "tailwindcss";

body {
    background-color: #ffffff;
}

html {
    scrollbar-color: #ffcc00 #1e2939;
    scrollbar-width: thin;
}

.contact-wrapper {
    scrollbar-width: none;
}

:root {
    --bg1: #ffcc00;

    --textcolor: #ffffffcd;
    --primaryfont: "Science Gothic", sans-serif;
    --secondaryfont: "Raleway", sans-serif;
}

.title {
    font-family: var(--primaryfont);
}
.agency-para {
    font-family: var(--secondaryfont);
}

*::selection {
    background: var(--bg1);
    color: black;
}

.agency {
    color: #111;
}

.navBaritem {
    position: relative;
    overflow: hidden;
    background: black;
    color: white;
    font-family: var(--primaryfont);
}

.navBaritem::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg1);
    transform: translateY(-100%);
    transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 0;
}

.navBaritem:hover::before {
    transform: translateY(0%);
}

.navBaritem .itemtext {
    position: relative;
    z-index: 1;
}

.navBaritem:hover .itemtext {
    color: #000;
}

.main-font {
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
}

.text-main {
    position: relative;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hover {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    background: #facc15;

    z-index: 2;
}

.group:hover .text-hover {
    animation: slideDown 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.group:not(:hover) .text-hover {
    animation: slideUpReset 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.marquee-track {
    animation: marqueeMove 12s linear infinite;
}

.menu-wrapper {
    font-family: var(--primaryfont);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

/* .contact-manquee{
    animation: marqueeMove2 3s linear infinite;
} */

@keyframes slideUpReset {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes marqueeMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
@keyframes marqueeMove2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes reverseMarqueeMove {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.project-wrapper,
.contact-wrapper,
.agency {
    font-family: var(--primaryfont);
}

.contact-wrapper {
    color: #ffffff;
}

.agency {
    transition: background-color 0.3s ease-out;
}

.group2:hover .hoverText {
    display: block;
    background-color: #facc15;
    height: 100%;
}

.group2:hover span {
    display: none;
}

/* 
.group2:nth-child(2):hover .hoverText{
    animation: slideDown 0.2s ease-in-out;
    display: block;
    background-color: #facc15;
}
.group2:nth-child(5):hover .hoverText{
    animation: slideUpReset 0.2s ease-in-out;
    display: block;
    background-color: #facc15;
} 
    */

.slideDown {
    animation: slideDown 0.2s ease-in-out;
    display: block;
    background-color: #facc15;
}
.slideUp {
    animation: slideUpReset 0.2s ease-in-out;
    display: block;
    background-color: #facc15;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    /* Home  */

    .home-wrapper-title {
        margin-top: 8px;
        font-size: 110px;
    }
    .home-wrapper-textVideo {
        height: 100px;
        width: 220px;
    }

    .home-wrapper-text {
        width: 30%;
        line-height: 15px;
        bottom: 140px;
        font-size: 12px;
    }

    /* Agency */
    .agency-title {
        top: 50vh;
        font-size: 150px;
        line-height: 150px;
    }
    .agency-image {
        left: 250px;
        height: 50vh;
        width: 30vh;
    }

    .agency-para {
        top: 60vh;
    }

    .agency-para p {
        font-size: 25px;
        line-height: 35px;
    }
    .agency .card1,
    .agency .card2 {
        width: 400px;
    }

    .agency .firstName-wrapper > * {
        font-size: 120px;
    }
    .agency .lastName-wrapper > * {
        font-size: 120px;
    }

    /* project */

    .project-text {
        font-size: 160px;
    }

    .project-wrapper .boxes-wrapper {
        margin-top: -40px;
    }

    /* contact */

    .contact-wrapper-title {
        font-size: 100px;
        line-height: 80px;
    }
    .contact-wrapper-text > * {
        font-size: 10px;
    }

    .contact-manqueepara > * {
        font-size: 100px;
    }

    /* navbar */
    .navBaritem {
        padding-right: 100px;
        padding-left: 10px;
    }
    .projectItem {
        padding-top: 10px;
    }
    .agencyItem {
        padding-top: 55px;
    }

    .menuItem {
        padding-top: 100px;
    }

    /* menu */
    .menu-footer-link {
        bottom: 35px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    /* Projects */

    .project-wrapper {
        overflow-x: hidden;
    }

    .project-text {
        font-size: 120px;
    }
    .boxes-wrapper {
        width: 100%;
        margin-top: -25px;
    }

    /* navbar */

    .navBar {
        /* display: none; */
        font-size: 20px;
    }
    .navBaritem {
        padding-right: 80px;
        padding-left: 10px;
    }
    .navBaritem {
        padding-right: 100px;
        padding-left: 10px;
    }
    .projectItem {
        padding-top: 10px;
    }
    .agencyItem {
        padding-top: 50px;
    }
    .menuItem {
        padding-top: 90px;
    }

    .project-text {
        margin-top: 350px;
    }

    /* menu */

    .group2 span {
        font-size: 100px;
    }
    .marquee-track {
        font-size: 100px;
    }
    .marquee-track img {
        height: 80px;
    }
    /* .cross-logo-wrapper{
        justify-content: end;
    } */

    .cross-logo {
        height: 140px;
        width: 140px;
        right: 0;
    }
    .menu-footer p {
        font-size: 10px;
    }
    .menu-footer-link {
        bottom: 25px;
        gap: 4px;
    }
    .menu-footer-link a {
        font-size: 15px;
        border-radius: 10px;
    }
    .heart {
        height: 100px;
        width: 100px;
    }

    /* agence*/

    .agency-title {
        top: 45vh;
        font-size: 120px;
        line-height: 150px;
    }
    .agency-image {
        left: 150px;
        height: 50vh;
        width: 30vh;
    }

    .agency-para {
        top: 60vh;
    }

    .agency-para p {
        font-size: 25px;
        line-height: 35px;
    }
    .agency .card1,
    .agency .card2 {
        width: 400px;
    }

    .agency .firstName-wrapper > *,
    .agency .firstName-wrapper2 > * {
        font-size: 120px;
    }
    .agency .lastName-wrapper > *,
    .agency .lastName-wrapper2 > * {
        font-size: 120px;
    }
    .teamInfo-name {
        font-size: 30px;
    }
    .teamInfo-position {
        font-size: 15px;
    }
    .hoverImg {
        height: 250px;
        width: 150px;
        left: 200px;
    }

    /* contact */

    .contact-wrapper-title {
        font-size: 80px;
        line-height: 70px;
    }
    .contact-wrapper-text {
        width: 90%;
    }

    .contact-wrapper-text > * {
        font-size: 10px;
    }

    .contact-manqueepara > * {
        font-size: 75px;
    }
    .contact-manqueepara-heart {
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 480px) {
    .logo-text {
        font-size: 40px;
    }

    /* menu */
    .group2:hover .hoverText {
        padding-top: 20px;
    }

    .group2 span {
        font-size: 60px;
    }
    .marquee-track {
        font-size: 60px;
    }
    .marquee-track img {
        height: 60px;
        width: 120px;
    }
    /* .cross-logo-wrapper{
        justify-content: end;
    } */

    .cross-logo {
        height: 100px;
        width: 100px;
        right: 0;
    }
    .menu-footer p {
        font-size: 8px;
    }
    .menu-footer-link {
        bottom: 25px;
        gap: 4px;
    }
    .menu-footer-link a {
        font-size: 15px;
        border-radius: 10px;
    }
    .heart {
        height: 50px;
        width: 50px;
    }

    /* navbar */
    .navBar {
        /* display: none; */
        font-size: 10px;
    }
    .navBaritem {
        padding-right: 80px;
        padding-left: 10px;
    }
    .navBaritem {
        padding-right: 50px;
        padding-left: 7px;
    }
    .projectItem {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .agencyItem {
        padding-top: 35px;
    }
    .menuItem {
        padding-top: 60px;
        padding-bottom: 5px;
    }
    .project-text {
        margin-top: 350px;
    }

    /* projects */

    .project-wrapper {
        overflow-x: hidden;
    }

    .project-text {
        font-size: 120px;
    }
    .boxes-wrapper {
        width: 100%;
        margin-top: 0;
    }

    .project-text {
        font-size: 75px;
        margin-top: 320px;
    }
    .project-text sup {
        font-size: 30px;
        top: 15px;
    }

    /* Contact */
    .contact-wrapper-title {
        font-size: 60px;
        line-height: 50px;
        margin-top: 100px;
    }
    .contact-wrapper-text {
        width: 95%;
    }

    .contact-wrapper-text > * {
        font-size: 7px;
    }

    .contact-manqueepara > * {
        font-size: 50px;
    }
    .contact-manqueepara-heart {
        height: 60px;
        width: 60px;
    }


    /* agency */
    .agency-title {
        top: 45vh;
        font-size: 75px;
        line-height: 80px;
    }
    .agency-image {
        left: 50px;
        height: 50vh;
        width: 30vh;
    }

    .agency-para {
        top: 60vh;
    }

    .agency-para p {
        font-size: 15px;
        line-height: 25px;
    }
    .agency .card1,
    .agency .card2 {
        width: 300px;
    }

    .agency .firstName-wrapper > *,
    .agency .firstName-wrapper2 > * {
        font-size: 70px;
    }
    .agency .lastName-wrapper > *,
    .agency .lastName-wrapper2 > * {
        font-size: 70px;
    }
    .teamInfo-name {
        font-size: 20px;
    }
    .teamInfo-position {
        font-size: 10px;

    }
    .teamInfo{
        padding-left: 4px;
    }
    .hoverImg {
        height: 250px;
        width: 150px;
        left: 120px;
    }
    .viewAllProjects{
        font-size: 30px;
    }
    .projectImg-para{
        font-size: 30px;
    }
    .projectImg-title{
        font-size: 20px;
        margin-top: 10px;
    }
}
